<div class="row account-box justify-content-md-center">
    <div class="col-md-4 m-3 wrapper">
        <h2 class="mb-3 rectangle">Uw account gegevens</h2>
        <form class="userinfo-form">
            <div class="form-group">
                <label>E-mail:</label>
                <div class="info-box form-control">
                    <span id="name"></span>
                </div>
            </div>
            <div class="form-group">
                <label>Wachtwoord:</label>
                <div class="info-box form-control">
                    <span>•••••••</span>
                </div>
            </div>
            <button type="submit" data-controller="edit_account" id="editbtn" class="btn btn-primary btn-oba">Aanpassen</button>
        </form>
    </div>
</div>