<div class="dashboard-page">
    <div class="row title-container">
        <h1 class="page-title text-center rectangle">Dashboard</h1>
    </div>
    <section class="statis gray-background row text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="box bg-danger">
                        <i class="far fa-user"></i>
                        <h3 class="timer participants count-title count-number" data-to="0" data-speed="2000"></h3>
                        <p class="lead">Deelnemers</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box bg-success">
                        <i class="fas fa-star"></i>
                        <h5></h5>
                        <p class="lead">Evenenement van de dag</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box bg-primary">
                        <i class="fas fa-map-marker-alt"></i>
                        <h3 class="timer events count-title count-number" data-to="0" data-speed="2000"></h3>
                        <p class="lead">Evenementen</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="row title-container">
        <h1 class="page-title text-center rectangle">Recente Evenenementen</h1>
    </div>
    <div class="row gray-background table-container">
        <table class="table table-bordered">
            <tbody></tbody>
        </table>
    </div>
</div>