<div class="row account-box justify-content-md-center">
    <div class="col-md-4 m-3 wrapper">
        <h2 class="mb-3 rectangle">Uw account gegevens</h2>
        <div class="edit-form">
            <div class="form-group">
                <label class="userinfo-md">E-mail: </label>
                <input type="email" id="email" class="form-control mb-2">
            </div>
            <div class="form-group">
                <label class="userinfo-md">Oud wachtwoord:</label>
                <input type="password" name="username" placeholder="Vul het oude wachtwoord in" class="form-control mb-2" id="old-password">
            </div>
            <div class="form-group">
                <label class="userinfo-md">Nieuw wachtwoord:</label>
                <input type="password" name="username" placeholder="Vul het nieuw wachtwoord in" class="form-control mb-2" id="new-password">
                <small id="help" class="form-text text-muted">Het wachtwoord hoort minimaal 8 karakters lang te zijn.</small>
            </div>
            <div class="form-group">
                <label class="userinfo-md">Bevestig nieuw wachtwoord:</label>
                <input type="password" name="username" placeholder="Bevestig het wachtwoord" class="form-control mb-2" id="confirm-new-password">
            </div>
            <div class="form-group">
                <p style="display: none" id="error" class="error text-danger mb-2"></p>
            </div>
            <div class="form-group">
                <button type="button" id="confirmbtn" class="btn btn-primary btn-oba btn-oba2 float-right">Bevestigen</button>
                <button type="button" id="cancelbtn" data-controller="account" class="btn btn-primary btn-oba btn-oba2">Annuleren</button>
            </div>
        </div>
    </div>
</div>