<div class="row">
    <h1 class="page-title text-center w-100"><span class="title"> Evenementen</span></h1>
</div>
<div id="event-actions" class="row event-actions">
    <div class="col-lg-3 col-sm-12 justify-content-end mb-3">
        <div class="row filter-container">
            <div class="col-6">
                <h4 style="text-decoration: underline">Filteren</h4>
            </div>
            <div class="col-6 justify-content-end align-items-center">
                <i id="filterdropdownbtn" class="fas fa-angle-down fa-2x float-right filterdropdownbtn"></i>
                <i id="filterfoldbtn" style="display: none" class="fas fa-angle-up fa-2x float-right filterdropdownbtn"></i>
            </div>
        </div>
        <div style="display: none" class="my-3 filterbox">
            <div class="row ml-0 mb-3 choosed-filters">
            </div>
            <div class="row">
                <div class="col-6 align-self-center">
                    <p>Sorteer op</p>
                </div>
                <div class="col-6 pl-0">
                    <div class="dropdown w-100">
                        <button type="button" class="btn dropdownBtn w-100">Sorteren <i
                                class="fas fa-angle-down"></i></button>
                        <div class="dropdownBox w-100">
                            <a class="dropdownItem" href="#">A-Z</a>
                            <a class="dropdownItem" href="#">Z-A</a>
                            <a class="dropdownItem" href="#">Datum Nieuw-Oud</a>
                            <a class="dropdownItem" href="#">Datum Oud-Nieuw</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6 align-self-center">
                    <p>Locatie</p>
                </div>
                <div class="col-6 pl-0">
                    <i id="location-dropdown" class="fas fa-angle-down fa-lg float-right location-dropdown"></i>
                    <i id="location-fold" style="display: none" class="fas fa-angle-up fa-lg float-right location-dropdown"></i>
                </div>
            </div>
            <div style="display: none" class="row align-items-center mt-2 location-box">
                <div class="col-2">
                    <div class="align-self-center">
                        <label class="switch mt-2">
                            <input value="Mauritskade 58" class="checkbox" type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="col-10 text-center">
                    <div>Mauritskade 58</div>
                </div>
                <div class="col-2">
                    <div class="align-self-center">
                        <label class="switch mt-2">
                            <input value="Oosterdokskade 143" class="checkbox" type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="col-10 text-center">
                    <div>Oosterdokskade 143</div>
                </div>
                <div class="col-2">
                    <div class="align-self-center">
                        <label class="switch mt-2">
                            <input value="Online cursus, niet op locatie" class="checkbox" type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="col-10 text-center">
                    <div>Online cursus, niet op locatie</div>
                </div>
                <div class="col-2">
                    <div class="align-self-center">
                        <label class="switch mt-2">
                            <input class="checkbox" value="Plantage Middenlaan 2a" type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="col-10 text-center">
                    <div>Plantage Middenlaan 2a</div>
                </div>
            </div>
            <div class="row mt-3 mb-lg-5">
                <div class="col-6">
                    <button type="button" id="filterbtn" class="sort btn btn-primary btn-sm btn-oba w-100">Toepassen <i class="fas fa-filter"></i></button>
                </div>
                <div class="col-6">
                    <button type="button" id="delete-filters" class="btn btn-primary btn-sm btn-oba float-right w-100">Wissen<i class="fas fa-trash-alt"></i></button>
                </div>
            </div>
        </div>
        <div class="row export-container">
            <div class="col-6">
                <h4 style="text-decoration: underline">Exporteren</h4>
            </div>
            <div class="col-6 justify-content-end align-items-center">
                <i id="exportdropdownbtn"  class="fas fa-angle-down fa-2x float-right exportdropdownbtn"></i>
                <i id="exportfoldbtn" style="display: none" class="fas fa-angle-up fa-2x float-right exportdropdownbtn"></i>
            </div>
        </div>
        <div style="display: none" class="my-3 exportbox">
            <div class="row mt-3 mb-lg-5">
                <div class="col-12">
                    <button type="button" id="exportbtn" class="sort btn btn-primary btn-sm btn-oba w-100">Downloaden <i class="fas fa-cloud-download-alt"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-sm-12 mb-3">
        <div id="event-list" class="row events-list">
            <div class="col-12">
                <h2 id="noResult" class="text-center" style="display: none">Je filters hebben geen resultaat geleverd :(</h2>
            </div>
        </div>
    </div>
</div>