<div>
    <div class="row title-container">
        <h1 class="page-title text-center rectangle">Evenementen in de buurt</h1>
    </div>
    <div id="map"></div>
    <div class="col-lg-9 col-sm-12 mb-3">
        <div id="event-list" class="row events-list location-events-list">
            <div class="col-12">
                <h2 id="noResult" class="text-center" style="display: none">Je filters hebben geen resultaat geleverd :(</h2>
            </div>
        </div>
    </div>
</div>