<div class="row justify-content-md-center">
    <div class="col-md-4 m-3 wrapper">
        <h2 class="mb-3 rectangle">Login</h2>
        <form class="login-form">
            <div class="form-group">
                <label for="InputEmail">Emailadres</label>
                <input type="email" name="email" class="form-control login-invoerveld" id="InputEmail"
                    aria-describedby="emailHelp" placeholder="Vul email in">
            </div>
            <div class="form-group">
                <label for="InputPassword">Wachtwoord</label>
                <input type="password" name="password" class="form-control login-invoerveld" id="InputPassword"
                    placeholder="Vul wachtwoord in">
            </div>
            <div class="error mb-3 text-danger"></div>
            <button type="submit" class="btn btn-primary btn-oba btn-oba2">Aanmelden</button>
            <button type="button" class="btn btn-primary btn-oba btn-oba2 btn-2">Wachtwoord Vergeten</button>
        </form>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="passModal" tabindex="-1" role="dialog" aria-labelledby="passModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="passModalLabel">Wachtwoord vergeten</h5>
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="login-form">
                    <div class="form-group">
                        <label for="modalInputEmail">Emailadres</label>
                        <input type="email" name="email" class="form-control modal-email" id="modalInputEmail" aria-describedby="emailHelp" placeholder="Vul email in">
                    </div>
                </form>
                <div class="error modal-error mb-3 text-danger"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-oba" id="sendMail">Verstuur mail</button>
            </div>
        </div>
    </div>
</div>