<div class="row mt-3 justify-content-center">
    <div class="col-md-4 m-3 mb-5 wrapper">
        <h2 class="mb-3 rectangle">Handmatig tellen</h2>
        <form class="count-form">
            <div class="form-group">
                <label class="userinfo-md">Evenement naam:</label>
                <div style="height: auto" class="info-box form-control"><span id="eventName"></span></div>
            </div>
            <div class="form-group">
                <label class="userinfo-md">Aantal deelnemende personen:</label>
                <div class="info-box form-control"><span id="amount"></span></div>
            </div>
            <div class="form-group">
                <p id="error" style="color: red"></p>
            </div>
            <div class="form-group">
                <label class="userinfo-md">Handmatig aantal invoeren:</label>
                <div class="form-row align-items-center">
                    <div class="col-xs-3">
                        <label class="userinfo-md">Aftrekken:</label>
                    </div>
                    <div class="col-xs-9">
                        <div class="align-self-center">
                            <label style="margin-top: 0.2rem !important;" class="switch">
                                <input id="subtract" class="checkbox" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <input type="text" name="manualInput" placeholder="Vul het aantal in" class="form-control mb-2 manual"
                    id="manualInput">
                <button type="button" id="confirmInputBtn" class="btn btn-primary btn-oba w-100">
                    Invoeren
                </button>
            </div>
        </form>
        <div class="row justify-content-center">
            <div class="col-6 col-lg-6 mb-3 text-center">
                <button value="1" type="button" class="button btn btn-block btn-outline-dark minus count">- 1</button>
            </div>
            <div class="col-6 col-lg-6 mb-3 text-center">
                <button value="1" type="button" class="button btn btn-block btn-outline-dark plus count">+ 1</button>
            </div>
            <div class="col-6 col-lg-6 mb-3 text-center">
                <button value="5" type="button" class="button btn btn-block btn-outline-dark minus count">- 5</button>
            </div>
            <div class="col-6 col-lg-6 mb-3 text-center">
                <button value="5" type="button" class="button btn btn-block btn-outline-dark plus count">+ 5</button>
            </div>
            <div class="col-6 col-lg-6 mb-3 text-center">
                <button value="10" type="button" class="button btn btn-block btn-outline-dark minus count">- 10</button>
            </div>
            <div class="col-6 col-lg-6 mb-3 text-center">
                <button value="10" type="button" class="button btn btn-block btn-outline-dark plus count">+ 10</button>
            </div>
        </div>
    </div>
</div>