<nav class="navbar navbar-expand-lg navbar-light static-top navbar-background">
    <div class="container">
        <a class="navbar-brand" href="#" data-controller="welcome">
            <img class="logo" id="oba-logo" src="dist/img/oba-logo.png" alt="OBA logo">
        </a>
        <div id="nav-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-controller="login" href="#">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-controller="register" href="#">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-controller="events" href="#">Evenementen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-controller="dashboard" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-controller="location" href="#">Locaties</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-controller="account" href="#">Mijn account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-controller="logout" href="#">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="mobile-nav-links" id="navbarResponsive">
    <h1 class="menu-title">Menu</h1>
    <ul class="nav-container">
        <li class="nav-item">
            <a class="nav-link" data-controller="login" href="#">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-controller="register" href="#">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-controller="events" href="#">Evenementen</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-controller="dashboard" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-controller="location" href="#">Locatie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-controller="account" href="#">Mijn account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-controller="logout" href="#">Logout</a>
        </li>
    </ul>
</div>