<div>
    <div class="row title-container">
        <h1 class="page-title text-center rectangle">Tellen met NFC</h1>
    </div>
    <p>Tellen met NFC is sneller en makkelijker.Hou je telefoon tegen de NFC-tag bij de ruimte waar het evenement georganiseerd is. De rest regelen wij!</p>
</div>