<div>
    <div class="row title-container">
        <h1 class="page-title text-center rectangle">Veel plezier!</h1>
    </div>
    <div class="container">
        <div class="col-sm-12 mt-5 bg-image-nfc-counted"></div>
        <div class="col-sm-12 mt-5">
            <p>Moet je nog even wachten voordat het evenement begint? Lees hieronder de leukste feitjes over de ruimte waar je zo in binnentreedt! </p>
        </div>
    </div>
    <div class="room-information"><!-- Loads content via JS --></div>
</div>