<div>
    <div class="row title-container">
        <h1 class="page-title text-center rectangle">De NFC tag is gekoppeld tot </h1>
    </div>
    <div class="container">
        <div class="col-sm-12 mt-5 bg-image-nfc-counted"></div>
        <div class="col-sm-12 mt-5">
            <p>Alles is goed gegaan en het evenement is gekoppeld aan de onderstaande kamer: </p>
        </div>
    </div>
    <div class="room-information"><!-- Loads content via JS --></div>
</div>