<div class="row justify-content-md-center">
    <div class="col-md-4 m-3 wrapper">
        <h2 class="mb-3 rectangle">Wachtwoord vergeten?</h2>
        <div class="edit-form" style="display: none;">
            <div class="form-group">
                <input type="hidden" id="email" class="form-control mb-2">
            </div>
            <div class="form-group">
                <label class="userinfo-md">Nieuw wachtwoord:</label>
                <input type="password" name="username" placeholder="Vul het nieuw wachtwoord in" class="form-control mb-2" id="new-password">
            </div>
            <div class="form-group">
                <label class="userinfo-md">Bevestig nieuw wachtwoord:</label>
                <input type="password" name="username" placeholder="Bevestig het wachtwoord" class="form-control mb-2" id="confirm-new-password">
            </div>
            <div class="form-group">
                <p style="display: none" id="error" class="error text-danger mb-2"></p>
            </div>
            <div class="form-group">
                <button type="button" id="confirmbtn" class="btn btn-primary btn-oba float-right">Bevestigen</button>
                <button type="button" id="cancelbtn" data-controller="login" class="btn btn-primary btn-oba">Annuleren</button>
            </div>
        </div>
    </div>
</div>