<div class="row justify-content-md-center">
    <div class="col-sm-4 m-3 wrapper">
        <h2 class="mb-3 rectangle">Account aanmaken</h2>

        <form class="register-form">
            <div class="form-group">
                <label for="email">Emailadres</label>
                <input required type="email" name="email" class="form-control" id="email" aria-describedby="email" placeholder="Vul emailadres in">
                
            </div>
            <div class="form-group">
                <label for="password">Wachtwoord</label>
                <input required type="password" name="password" class="form-control" id="password" placeholder="Vul wachtwoord in">
                <small id="help" class="form-text text-muted">Het wachtwoord hoort minimaal 8 karakters lang te zijn.</small>
            </div>
            <div class="form-group">
                <label for="passwordConfirm">Bevestig Wachtwoord</label>
                <input required type="password" name="passwordConfirm" class="form-control" id="passwordConfirm" placeholder="Bevestig wachtwoord">
            </div>

            <div class="error mb-3 text-danger"></div>

            <button type="submit" class="btn btn-oba">Registreer</button>
        </form>
    </div>
</div>