<div class="welcome-page">
    <div class="row title-container">
        <h1 class="page-title text-center rectangle">Hoe wil je tellen?</h1>
    </div>
    <div class="row mt-5">
        <div class="col-sm-6 col-lg-6 mb-3 text-center">
            <button id="nfc-tag" class="button btn btn-block btn-outline-dark" data-controller="nfc">NFC Tag</button>
        </div>

        <div class="col-sm-6 col-lg-6 text-center">
            <button id="man-count" class="button btn btn-block btn-outline-dark" data-controller="manual_count">Handmatig tellen</button>
        </div>
    </div>
</div>