div.dashboard-page {

    .gray-background {
        background-color: $lightest-grey;
        padding: 20px;
        margin-bottom: 40px;
    }
    .statis {
        .box {
            position: relative;
            padding: 15px;
            overflow: hidden;
            border-radius: 3px;
            color: $white;
        
            i {
                position: absolute;
                height: 70px;
                width: 70px;
                font-size: 22px;
                padding: 15px;
                top: -25px;
                left: -25px;
                background-color: rgba(255, 255, 255, 0.15);
                line-height: 60px;
                text-align: right;
                border-radius: 50%;
            }
        }
    }
    div.table-container {
        table tr {
            background-color: $black;
            color: $white;
            border-bottom: 5px solid;

            td.button-wrapper {
                position: relative;
                border-left: 5px solid;
                padding: 20px 30px;

                a.table-button {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: $red;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    div.dashboard-page {
        .statis .box {
            margin-bottom: rem(25px);
        }
    }
}