div.content {
    h1.page-title {
      margin: 20px 0;
    }
    div.event-actions {
      div.filter-container, div.export-container {
        //border: 1px solid $black;
        padding: 10px 5px;
      }
    }
    div.events-list div.event {

        margin-bottom: 26px;
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
        justify-content: flex-end;
    
        p.event-details-btn {
          margin: 15px 0;
          text-decoration: underline;
        }
        div.event-button-wrapper {
            width: 100%;
            display: flex;
            flex-flow: column;
            justify-content: center;

            a.event-button {
                color: $white;
                font-size: 18px;
                font-weight: bold;
                line-height: 32px;
                text-align: center;
                padding: 15px 20px;
                background: $dark-red;
                text-decoration: none;
                @include crossbrowser(transition, 0.2s ease-in, webkit ms moz o);

                &:hover {
                    background: $lighter-red;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    div.content {

        h1.page-title {
            font-size: rem(28px);
            margin: 1.8rem 0;
        }
        div.events-list {
            div.event {
                margin-bottom: rem(26px);

                h4.event-title {
                    color: $black;
                    font-weight: 600;
                    line-height: rem(31px);
                }
                p.event-details-btn {
                  margin: rem(15px) 0;
                }
                div.event-button-wrapper {
                    width: 100%;
                    display: flex;
                    flex-flow: column;
                    justify-content: center;

                    a.event-button {
                        font-size: rem(18px);
                        line-height: rem(32px);
                        padding: rem(15px) rem(20px);
                    }
                }
            }
        }
    }
}

.dropdownBtn {
  border-radius: 0;
  border: 1px solid $grey;
  @include crossbrowser(transition, 0.5s, webkit ms moz o);
  &:focus{
    border-color: $black;
  }
  height: calc(1.5em + 0.75rem + 2px);
  text-align: center;
  background-color: $white;
}

.dropdownBox {
  border-radius: 0 0 1rem 1rem;
  position: absolute;
  border: 1px solid $grey;
  border-top: transparent;
  @include crossbrowser(transition, 0.5s, webkit ms moz o);
  &:focus{
    border-color: $black;
  }
  text-align: center;
  background-color: $white;
  display: none;
  z-index: 1;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownItem {
  display: block;
  -webkit-text-fill-color: $black;
}

.option-box {
  font-size: rem(12px);
  border-radius: 10px;
  background-color: $black;
  color: $white;
  height: 1.2rem;
  min-width: 3rem;
}

.delete-option:hover {
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: calc(30px);
  height: calc(17px);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $light-grey;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: calc(12px);
  width: calc(12px);
  left: calc(2px);
  bottom: calc(2px);
  background-color: $white;
  -webkit-transition: .4s;
  transition: .4s;
}

.checkbox:checked + .slider {
  background-color: $red;
}

.checkbox:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.checkbox:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.choosed-filters {
  min-height: 1.6rem;
}