.loc{
  height:10vh;
  background-size: cover;
  font: $openSans;
  position: relative;

}

.header-location{
  position: absolute;

}

.heading-primary{
text-transform: uppercase;
}

.header-location-main{
  display: block;
}

.header-location-sub{
letter-spacing: 5px;
}

// instead of calling .btn-main everytime you can use & that will be the same as the selector you are trying to select.
// also using negative pixels is a sin in web development, only use it if you have NO OTHER CHOICE. ~Normie

#map{
  margin-top: 20px;
  height: 60vh;
}

.mapboxgl-popup {
  max-width: 200px;
}
.location-events-list{
  margin-top: 50px;
  margin-bottom: 50px;

}
@media only screen and (max-width: 768px) {

  // de styling die je hier had, werd al ingeladen door een andere stylesheet dus laad de styling dubbel als je het hier ook doet. ~Normie

}
