// import Bootstrap 4.4.1 source files from npm.
@import 'node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

// import our own variables.
@import 'variables';
// misc
@import 'helpers';
// import mixins
@import 'mixins';
// import our partials.
@import 'partials/footer';
@import 'partials/navbar';
// import our pages
@import 'pages/events';
@import 'pages/welcome';
@import 'pages/location';
@import 'pages/dashboard';
@import 'pages/manual_count';

html{
  @include reset();
}

div.title-container {
  justify-content: center;
}

//button van de login pagina
.btn-oba {
  color: $white;
  background-color: $red;
  border-color: $red;
  &:hover {
    color: $white;
    background-color: $dark-red;
    border-color: $dark-red;
  }
  &:focus, &.focus {
    color: $white;
    background-color: $dark-red;
    border-color: $dark-red;
    box-shadow: 0 0 0 0.2rem rgba(220, 0, 0, 0.5);
  }
  &.disabled, &:disabled {
    color: $white;
    background-color: $red;
    border-color: $red;
  }
}

.btn-oba:not(:disabled):not(.disabled):active, .btn-oba:not(:disabled):not(.disabled).active,
.show > .btn-oba.dropdown-toggle {
  color: $white;
  background-color: $dark-red;
  border-color: $dark-red;
}

.btn-oba:not(:disabled):not(.disabled):active:focus, .btn-oba:not(:disabled):not(.disabled).active:focus,
.show > .btn-oba.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 0, 0, 0.5);
}

.btn-oba2{
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}

//css for invalid login
.incorrect-information::-webkit-input-placeholder {
  color: $darker-red;
}

.incorrect-information, .incorrecte-information:focus {
  background-color: $error-background !important;
}

div.wrapper {
  padding: 20px;
  background-color: $boxBackgroundcolor;
}

.forgot-password{
  border-radius: 10px;
}

.title {
  padding-top: 20px;
  margin: auto;
  width: 50%;
  text-align: center;
}

.buttonTemplate {
  margin: auto;
  text-align: center;

}

.button {
  font-size: 28px;
  position: relative;
  transition-duration: 0.4s;
  background-color: $white;
}

.button:hover {
  background-color: $red;
  color: $white;
}
.rectangle{
  border-left: 4px solid $black;
  padding-left: 4px;
}

input.form-control{
  border-radius: 0;
  border: 1px solid gray;
  @include crossbrowser(transition, 0.5s, webkit ms moz o);
  &:focus{
    border-color: $black;
  }
}

.bg-image-nfc-counted {
  background-image: url('https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1753&q=80');
  background-size: cover;
  background-position: bottom;
  height: 450px;
}

.info-box {
  border-radius: 0;
  border: 1px solid gray;
  @include crossbrowser(transition, 0.5s, webkit ms moz o);
  &:focus{
    border-color: $black;
  }
  min-height: calc(1.5em + 0.75rem + 2px);
  background-color: white;
}
.container-fluid{
  display: flex;
  align-items: center;
  justify-content: center;
}
div#loader{
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.6);
  z-index: 1;
  justify-content: center;
  align-items: center;
  position: absolute;

  div.spinner-wrapper{
    background-color: rgba(0,0,0, 0.8);
    border-radius: 5px;
    padding: 15px;

    div.spinner-border{
      width: 150px;
      height: 150px;
      color: $red;
    }
  }
}
@media only screen and (max-width: 768px) {

  .content{
    margin-bottom: 5rem;
  }
  .btn-oba{
    display: block;
    width: 100%;
  }

  div#loader{
    div.spinner-wrapper{
      padding: rem(15px);

      div.spinner-border{
        width: rem(86px);
        height: rem(86px);
      }
    }
  }
}