input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    
border: 1px solid #ced4da;
-webkit-text-fill-color: #495057;
-webkit-box-shadow: 0 0 0px 1000px transparent inset;
box-shadow: 0 0 0px 1000px transparent inset;
transition: background-color 5000s ease-in-out 0s;

}

@function rem($size) {
  @return $size / 16px * 1rem;
}
