// colors
$lighter-red: #ff3232;
$light-red: #ff1919;
$red: #FF0000;
$dark-red: #E50000;
$darker-red: #CC0000;

$white: #FFF;
$black: #000;
$grey: #52585E;
$light-grey: #CCC;
$lightest-grey: #efefef;


$error-background: #ffd2c8;
$boxBackgroundcolor: #f5f5f5;
// fonts
$openSans: 'Open Sans', sans-serif;