<div class="dashboard-page">
    <div class="row title-container">
        <h1 class="page-title text-center rectangle">De OBA</h1>
    </div>
    <div class="row gray-background table-container">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td>Opgericht in 1919</td>
            </tr>
            <tr>
                <td>26 vestigingen én uitleenpunten</td>
            </tr>
            <tr>
                <td>Bijna 7000 activiteiten per jaar</td>
            </tr>
            <tr>
                <td>Meer dan 1.3 miljoen materialen</td>
            </tr>
            <tr>
                <td>3 miljoen uitleningen per jaar</td>
            </tr>
            <tr>
                <td>Jaarlijks meer dan 3.5 miljoen bezoekers</td>
            </tr>
            <tr>
                <td>En 1.3 miljoen online</td>
            </tr>
            <tr>
                <td>177.000 leden</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>