<div class="dashboard-page">
    <div class="row title-container">
        <h1 class="page-title text-center rectangle">OBA Theater</h1>
    </div>
    <div class="row gray-background table-container">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td>31 meter boven zeeniveau</td>
            </tr>
            <tr>
                <td>260 zitplaatsen</td>
            </tr>
            <tr>
                <td>Podium van 180 vierkante meter</td>
            </tr>
            <tr>
                <td>Pak alvast een bakje koffie</td>
            </tr>
            <tr>
                <td>Borrel aan het einde</td>
            </tr>
            <tr>
                <td>11 rijen aan stoelen</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>