<div class="dashboard-page">
    <div class="row title-container">
        <h1 class="page-title text-center rectangle">OBA Forum</h1>
    </div>
    <div class="row gray-background table-container">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td>De nieuwste aanwinst</td>
            </tr>
            <tr>
                <td>Extra hoge ruimte mét balkon</td>
            </tr>
            <tr>
                <td>57 tot 90 personen</td>
            </tr>
            <tr>
                <td>Veel daglicht óf sluit de gordijnen</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>