<div class="dashboard-page">
    <div class="row title-container">
        <h1 class="page-title text-center rectangle">OBA Vergaderzaal 6.1</h1>
    </div>
    <div class="row gray-background table-container">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td>35 vierkante meter</td>
            </tr>
            <tr>
                <td>12 tot 16 personen</td>
            </tr>
            <tr>
                <td>TV-scherm</td>
            </tr>
            <tr>
                <td>Flipover</td>
            </tr>
            <tr>
                <td>Whiteboard</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>