div.sidebar{
    position: relative;
    border-bottom: 10px solid $dark-red;
    nav.navbar{
        background-color: $white;
        div#nav-icon{
            display: none;
            z-index: 4;
            & span{
                display: block;
                position: absolute;
                height: 3px;
                width: 100%;
                background: $black;
                opacity: 1;
                left: 0;
                @include crossbrowser(transform, rotate(0deg), webkit ms moz o);
                @include crossbrowser(transition, 0.25s ease-in-out, webkit ms moz o);

                &:nth-child(1), &:nth-child(2), &:nth-child(3){
                    @include crossbrowser(transform-origin, left center, webkit ms moz o);
                }

                &:nth-child(1){
                    top: 0;
                }
                &:nth-child(3){
                    bottom: 0;
                }
            }
        }
        a.navbar-brand{
            img.logo{
                width: 100px;
            }
        }
        ul.navbar-nav.ml-auto{
            li.nav-item a.nav-link{
                border-left: 4px solid;
            }
        }
    }
    &.open{
        nav.navbar{
            div#nav-icon{
                & span{
                    background-color: $red;
        
                    &:nth-child(1){
                        @include crossbrowser(transform, rotate(45deg), webkit ms moz o);
                        top: -3px;
                        left: 8px;
                    }
                    &:nth-child(2) {
                        width: 0%;
                        opacity: 0;
                    }
                    &:nth-child(3){
                        @include crossbrowser(transform, rotate(-45deg), webkit ms moz o);
                        left: 8px;
                    }
                }
            }
        }
    }
    div.mobile-nav-links{
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    div.sidebar{
        nav.navbar{
            div#nav-icon{
                display: flex;
                justify-content: center;
                flex-direction: column;
                position: relative;
                width: 2rem;
                height: rem(22px);
            }
            ul.navbar-nav.ml-auto{
                display: none;
            }
        }
        div.mobile-nav-links{
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(255,255,255,0.9);
            height: 100vh;
            width: 100%;
            z-index: 3;
            @include crossbrowser(transform, translate3d(100%,0,0), webkit ms moz o);
            @include crossbrowser(transition, 0.5s, webkit ms moz o);

            h1.menu-title{
                padding-top: 4px;
                height: 62px;
                padding-left: 15px;
                background: $white;
            }

            ul.nav-container{
                li.nav-item{
                    width: rem(300px);
                    background-color: $black;
                    margin: rem(34px) 0;
                    font-size: rem(28px);

                    a.nav-link{
                        color: $white;
                    }

                    &:nth-child(2){
                        width: rem(350px);
                    }
                    &:nth-child(4){
                        width: rem(250px);
                    }
                }
            }
        }
        &.open{
            div.mobile-nav-links{
                @include crossbrowser(transform, translate3d(0,0,0), webkit ms moz o);
            }
        }
    }
}